<div class="card bg-light" style="width: 100%;max-width: 400px;margin: auto;">
    <div class="card-body">
        <h2 class="card-title mb-3">Restablecer contraseña</h2>
        <label style="font-weight: normal;">Para continuar, se debe establecer una nueva contraseña. Introduzca su nueva
            contraseña y haga clic en actualizar.</label>
        <form action="#" method="post">
            <input type="hidden" name="token" value="<?php echo htmlspecialchars(Token::csrf()); ?>" readonly
                spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">

            <div class="mb-3">
                <label for="password" class="mb-0">Contraseña</label>
                <small id="passwordHelp" class="form-text mb-2">Utiliza ocho caracteres como mínimo con
                    una combinación de letras y números, sin caracteres especiales, excepto estos: @ . - _ ~ ! # $ % ^
                    *</small>
                <input type="password" name="password" id="password" value="<?php echo $usuario['password']; ?>"
                    class="form-control form-control-lg <?php echo isset($errors['password']) ? 'is-invalid' : ''; ?>"
                    spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <span
                    class="invalid-feedback"><?php echo isset($errors['password']) ? $errors['password'] : ''; ?></span>
            </div>
            <div class="mb-3">
                <label for="password">Confirmar contraseña</label>
                <input type="password" name="confirm_password" id="confirm-password" value="<?php  ?>"
                    class="form-control form-control-lg <?php echo isset($errors['confirm_password']) ? 'is-invalid' : ''; ?>"
                    spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <span
                    class="invalid-feedback"><?php echo isset($errors['confirm_password']) ? $errors['confirm_password'] : ''; ?></span>
            </div>

            <button type="submit" class="btn btn-success btn-lg btn-block">Actualizar</button>

        </form>
    </div>
</div>