<style>
    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
</style>
<div class="starter-template">
    <h1>Dashboard</h1>
    <p class="lead">Bienvenido <b><?php echo $_SESSION['nombre_usuario']; ?></b>, te cuento que aún estamos en fase de
        desarrollo, más pronto que tarde podrás
        hacer uso de esta aplicación, la cual te brindará una serie de servicios para gestionar todo lo relacionado con
        los usuarios.</p>
    <a href="logout.php">Cerrar sesión</a>
</div>

<script>
    
</script>